<div class="container lists-container">
<div class="list-container">
  <div>
  <ol >
  <% @lists.each do |list| %>
  <h4><%= list.name%></h4>
  <% list.list_items.each do |item|%>
    <% if item.status %>
      <% checked = "checked"%>
    <%else%>
    <% checked = ""%>
  <%end%>
    <li>
      <input type="checkbox" <%= checked %>><%= item.name %>
    </li>
  <% end %>
<%= form_with(url: list_list_items_path(list), method: :post) do |f| %>
  <%= f.text_field :name, name: 'list_item[name]' %>
  <%= f.hidden_field :list_id, value: list.id%>
  <input type="submit" value="ADD" class="btn btn-dark">
</form
<% end %>
  <% end %>
  </ol>
</div>

  <div class= "container">
  <div id="lists">
  </div>
  </div>
  </div>
</div>

<div class="container-list-outer">
  <div class="options" data-controller="addlist" data-addlist-target="container">
    <h3>All Lists</h3>
    <ul>
      <% lists.each do |list|%>
        <li>
          <button class="options-btn" data-action="addlist#showListItems"><%= list.name %></button>
        </li>
      <% end %>
    </ul>
  <%=  simple_form_for new_list, html: { data: { addlist_target: "form", action: "submit->addlist#create" } } do |f| %>
    <%= f.input :name, label: false, placeholder: "What is the name of your new list?" %>
    <%= f.button :submit, class: "btn btn-primary text-white" %>
  <% end %>
  </div>
</div>
