<div class="lists-container">
<div>
  <ol>
  <% @lists.each do |list| %>
  <h4><%= list.name%></h4>
  <% list.list_item.each do |item|%>
    <% if item.status %>
    <% checked = "checked"%>
    <%else%>
    <% checked = ""%>
    <%end%>
    <li>
      <input type="checkbox" <%= checked %>><%= item.name %></input>
    </li>
  <% end %>
  <% end %>
  </ol>
<div class= "container">
<div id="lists">

</div>
</div>
<%= form_with(url: "/lists", method: :post) do |f| %>
  <%= f.text_field :name, name: 'list[name]' %>
  <%= f.submit 'submit' %>
<% end %>
</div>


<div class="options">
  <%= link_to lists_path do %>
  <%@lists.each do |list|%>
  <button class="options-btn"><%= list.name %></button>
  <br>
  <% end %>
  <button class="options-btn">Add list</button>
  <br>
  <button class="options-btn">Date Ideas</button>
  <%end%>

</div>
    </div>
