<div class="container-list-outer" data-controller="addlist toggle-list-items" data-addlist-target="container">
  <div class="options p-3"  >
    <ul>
      <% current_user.lists.order(created_at: :desc).each do |list|%>
        <li class="list" >
          <div class="list-content">
            <button class="options-btn" data-action="toggle-list-items#toggleListItems">
              <%= list.name %>
            </button>
            <div data-addlist-target="editForm" data-list-id="<%= list.id %>" class="hidden w-100">
              <%= simple_form_for list, html: { data: { action: "submit->addlist#update", turbo: "false" } } do |f| %>
                <%= f.input :name,label: false, value: list.name %>
              <% end %>
            </div>
            <div class="hidden">
              <div class="d-flex">
                <button class="btn-edit-list" data-action="addlist#toggleEdit" data-list-id="<%= list.id %>"><i class="fa-solid fa-pen-to-square"></i></button>
                <%= simple_form_for list, url: list_path(list), method: :delete, html: { data: { addlist_target: "deleteForm", action: "submit->addlist#deleteList" } } do |f| %>
                  <%= button_tag type: "submit", class: "btn-delete-list" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <%end%>
              </div>
            </div>
          </div>
          <div class="hidden div-list-items" data-toggle-list-items-target="listitems">
            <%= render "lists/list_items", list: list, new_list_item: new_list_item %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="list-form">
      <%= simple_form_for new_list, html: {class: "input-container", data: { toggle_list_items_target: "form", addlist_target: "form", action: "submit->addlist#create" } } do |f| %>
        <%= f.input :name, label: false, placeholder: "Start a new list", class: "input-list-name form-list" %>
        <%= button_tag type: 'submit', class: "btn-list-add mb-3" do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
