<div class="container-list-outer" data-controller="addlist toggle-list-items">


  <div class="options p-3"  data-addlist-target="container">
    <ul>
      <% lists.each do |list|%>
        <li class="list">
          <div class="d-flex justify-content-between">
          <button class="options-btn" data-action="toggle-list-items#toggleListItems">
            <%= list.name %>
          </button>
          <%= simple_form_for list, url: list_path(list), method: :delete, html: { data: { addlist_target: "deleteForm", action: "submit->addlist#deleteList" } } do |f| %>
            <%= f.button :submit, "", class: "btn btn-close" %>
          <% end %>
          </div>


          <div class="hidden div-list-items" data-toggle-list-items-target="listitems">
            <%= render "lists/list_items", list: list, new_list_item: new_list_item %>
          </div>
        </li>
      <% end %>
    </ul>
    <%=  simple_form_for new_list, html: { data: { toggle_list_items_target: "form", addlist_target: "form", action: "submit->addlist#create" } } do |f| %>
      <%= f.input :name, label: false, placeholder: "What is the name of your new list?" %>
      <%= f.button :submit, class: "btn btn-success" %>

    <% end %>
  </div>
</div>
