<div class="container-list-items">
  <div data-controller="list-items" data-list-items-target="container">
    <h3><%= list.name %></h3>
    <ul class="list-list-items">
      <% list.list_items.each do |item| %>
        <% checked = item.status ? "checked" : "" %>
        <li>
          <input type="checkbox" <%= checked %>><%= item.name %>
        </li>
      <% end %>
    </ul>
    <%= simple_form_for [list, new_list_item], html: { data: { list_items_target: "form", action: "submit->list-items#create", turbo: "false" } } do |f| %>
      <%= f.input :name, label: false, placeholder: "What would you like to add to your list?" %>
    <%= f.button :submit, class: "btn btn-primary text-white" %>
    <% end %>
  </div>
</div>
