<div class="container-list-outer">
  <div class="options" data-controller="addlist toggle-list-items" data-addlist-target="container">
    <ul>
      <% lists.each do |list|%>
        <li class="d-flex row list">
          <button class="options-btn col-2" data-action="toggle-list-items#toggleListItems">
            <%= list.name %>
          </button>
          <div class="col-7 d-none div-list-items" data-toggle-list-items-target="listitems">
            <%= render "lists/list_items", list: list, new_list_item: new_list_item %>
          </div>
        </li>
      <% end %>
    </ul>
    <%=  simple_form_for new_list, html: { data: { toggle_list_items_target: "form", addlist_target: "form", action: "submit->addlist#create" } } do |f| %>
      <%= f.input :name, label: false, placeholder: "What is the name of your new list?" %>
      <%= f.button :submit, class: "btn btn-success" %>
      
    <% end %>
  </div>
</div>
