

  <div class="container-schedule mx-3" data-controller="schedule" data-schedule-target="container">

  <div class="container-tasks" data-schedule-target="tasks">
  <h4 class="date"><%= schedule.date.strftime("%A%e %B") %></h4>
    <% @schedule.schedule_tasks.order(:start_time).each do |task| %>
      <div class="div-task">
        <div class="div-time-name d-flex">
          <div class="task-times mx-3">
            <p><%= task.start_time.strftime("%H:%M") %></p>
            <p><%= task.end_time.strftime("%H:%M") %></p>
          </div>
          <p><%= task.name %> (<%= ((task.end_time - task.start_time)/3600).floor%> hours <%=  ((task.end_time - task.start_time)%3600 / 60).floor  %>  minutes)</p>
        </div>
      <div class="m-1">
        <%= simple_form_for task, url: schedule_task_path(task), method: :delete, html: { data: { schedule_target: "deleteForm", action: "submit->schedule#deleteTask" } } do |f| %>
          <%= f.button :submit, "", class: "btn btn-close" %>
        <% end %>
      </div>
      </div>

    <% end %>
  </div>


    <section class="modal hidden" data-schedule-target="modal">
      <div class="flex">
        <div class="btn btn-close" data-action="click->schedule#closeModal"></div>
        <div class="form-task p-3">
          <%= render partial: "schedules/form", locals: { schedule: schedule, schedule_task: ScheduleTask.new } %>
        </div>
      </div>
    </section>
    <div class="overlay hidden"></div>
    <button class="btn btn-open btn-green" data-action="schedule#openModal">Add Task</button>
  </div>
