<div class="container-schedule" data-controller="schedule" data-schedule-target="container">
  <div class="container-tasks" data-schedule-target="tasks">
    <h4 class="date"><%= current_user.days.last.schedules.first.date.strftime("%A %e %B") %></h4>
    <div class="all-tasks">
      <% current_user.days.last.schedules.first.schedule_tasks.order(:start_time).each do |task| %>
        <div class="div-task">
          <div class="div-time-name">
            <div class="task-times">
              <p><%= task.start_time.strftime("%H:%M") %></p>
              <p class="time-dash"> - </p>
              <p><%= task.end_time.strftime("%H:%M") %></p>
            </div>
            <p><%= task.name %></p>
          </div>
          <section class="task-modal hidden" data-schedule-target="editModal" data-task-id="<%= task.id %>">
            <div class="flex">
              <div class="btn btn-close" data-action="click->schedule#closeEdit" data-task-id="<%= task.id %>"></div>
              <div class="form-task">
                <%= simple_form_for [schedule, task], html: { data: { schedule_target: "editForm", action: "submit->schedule#update" } } do |f| %>
                  <%= f.input :name, value: task.name, label: false %>
                  <div class="time-inputs">
                    <%= f.input :start_time, as: :time, value: task.start_time %>
                    <%= f.input :end_time, as: :time, value: task.end_time %>
                  </div>
                  <%= f.input :recurring %>
                  <%= f.button :submit, "Save Changes", class: "btn-submit-task" %>
                <% end %>
              </div>
            </div>
          </section>
          <div class="m-1 schedule-buttons">
            <button class="btn-edit-task" data-action="schedule#openEdit" data-task-id="<%= task.id %>"><i class="fa-solid fa-pen-to-square"></i></button>
            <%= simple_form_for task, url: schedule_task_path(task), method: :delete, html: { data: { schedule_target: "deleteForm", action: "submit->schedule#deleteTask" } } do |f| %>
              <%= button_tag type: "submit", class: "btn-delete-task" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <section class="task-modal hidden" data-schedule-target="modal">
    <div class="flex">
      <div class="btn btn-close" data-action="click->schedule#closeModal"></div>
      <div class="form-task">
        <%= render partial: "schedules/form", locals: { schedule: schedule, schedule_task: ScheduleTask.new } %>
      </div>
    </div>
  </section>
  <button class="btn-add-task" data-action="schedule#openModal">
    <i class="fa-solid fa-circle-plus"></i>
  </button>
</div>
