
<h1>Productivity Pest</h1>
<% if user_signed_in? %>
  <div class="schedule" id="schedule-container">
    <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task, times: @times %>
  </div>
  <div>
    <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
  </div>
  <div>
    <%= render "lists/lists"%>
  </div>

  <div class="pomorodo mt-3">
    <%= render 'pomodoros/pomodoro' %>
  </div>

  <%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
  <%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
<% end %>

