
<% if user_signed_in? %>
  <div class="head-container">
    <h1>productivityPEST</h1>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary text-white" %>
  </div>
  <div class="home-container">

    <div class="schedule col-12" id="schedule-container">
      <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task, times: @times %>
    </div>
    <div class="btn-options">
      <div class="water-tracker">
        <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
      </div>

      <div class="morning-routine">
        <%= render "lists/lists", lists: @lists, new_list: @new_list%>
      </div>
    </div>
  </div>

  <div class="pomorodo mt-3">
    <%= render 'pomodoros/pomodoro' %>
  </div>
<% end %>
<%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
<%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
