<div class="d-flex page-container">
<div>
  <h1>Productivity Pest</h1>


  <div class="schedule" id="schedule-container">
    <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task, times: @times %>
  </div>
  <div>
    <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
  </div>

  <div class="pomorodo mt-3">
    <%= render 'pomodoros/pomodoro' %>
  </div>

  <%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
  <%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
</div>
  <div class="morning-routine">
    <%= render "lists/lists", lists: @lists, list_item: @list_item%>
  </div>
</div>
