<% if user_signed_in? %>
  <div class="head-container">
    <h1>Productivity<span class="pest " >PEST</span></h1>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-yellow " %>
  </div>
  <div class="home-container" data-controller="home">
    <div class="schedule col-12" id="schedule-container">
      <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task, times: @times %>
    </div>
    <div class="btn-options">
      <div>
        <button data-action="home#toggleWaterTracker" class="btn-yellow">Water Tracker</button>
        <div data-home-target="waterTracker" class="hidden">
          <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
        </div>
      </div>
      <div>
        <button data-action="home#toggleLists" class="btn-yellow">Lists</button>
        <div data-home-target="lists" class="hidden">
          <%= render "lists/lists", lists: @lists, new_list: @new_list, new_list_item: @new_list_item, class: "home-container-list-list-items"%>
        </div>
      </div>
      <div>
        <button data-action="home#toggleStreaks" class="btn-yellow">Streaks</button>
        <div data-home-target="streaks" class="hidden">
          <%= render "days/calendar", user: @user %>
        </div>
      </div>
      <div>
        <button data-action="home#toggleMeditations" class="btn-yellow">Meditations</button>
        <div data-home-target="meditations" class="hidden">
          <%= render "meditations/meditation" %>
        </div>
      </div>
        <div>
        <button data-action="home#toggleChallenges" class="btn-yellow">Challenges</button>
        <div data-home-target="challenges" class="hidden">
          <%= simple_form_for @challenge, remote: true, html: { data: { controller: "challenge", action: "challenge#create", target: "challenge.form" } } do |f| %>
  <div class="field">
    <%= f.input :category, label: "Category" %>
  </div>

  <div class="field">
    <%= f.input :stakes, label: "Stakes" %>
  </div>

  <div class="field">
    <%= f.input :goal, label: "Goal" %>
  </div>

  <div class="field">
    <%= f.input :duration, label: "Duration", as: :integer %>
  </div>

  <div class="field">
    <%= f.input :start_date, label: "Start Date", as: :date %>
  </div>

  <div class="field">
    <%= f.input :status, label: "Status" %>
  </div>

  <h3>Participants</h3>
  <div id="participants">
    <%= f.simple_fields_for :challenge_participants do |cp_form| %>
      <div class="nested-fields">
        <%= cp_form.input :user_id, collection: User.all, label_method: :username, value_method: :id, label: "Participant", include_blank: "Select User" %>
        <%= cp_form.input :_destroy, as: :boolean, label: "Remove" %>
        <%= link_to_remove_association "Remove Participant", cp_form %>
      </div>
    <% end %>
    <%= link_to_add_association "Add Participant", f, :challenge_participants, class: "btn btn-secondary" %>
  </div>

  <%= f.submit "Create Challenge", class: "btn btn-primary" %>
<% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="pomorodo mt-3">
    <%= render 'pomodoros/pomodoro' %>
  </div>
<% end %>
<%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
<%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
<%= audio_tag "audio-notification-2489.wav", id: "notification-audio" %>
