<% if user_signed_in? %>
  <div class="application">
    <div class="head-container">
      <h1>productivity<span class="pest">PEST</span></h1>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-log-out" %>
    </div>
    <div class="home-container" data-controller="home">
      <div class="home-schedule">
        <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task %>
      </div>
      <div class="feature-container">
        <div class="feature-buttons">
          <button class="water-btn btn-japan-blue-light" data-action="click->home#toggleWaterTracker" data-home-target="waterTrackerBtn"><i class="fa-solid fa-glass-water-droplet icons"></i>
            <p class="text-feature">Water Tracker</p>
          </button>
          <button data-action="click->home#toggleLists" data-home-target="listsBtn" class="list-btn btn-japan-yellow"><i class="fa-solid fa-list icons"></i>
            <p class="text-feature">Lists</p>
          </button>
          <button data-action="click->home#toggleStreaks" data-home-target="streaksBtn" class="streaks-btn btn-japan-orange-dark"><i class="fa-regular fa-calendar-days icons"></i>
            <p class="text-feature">Streaks</p>
          </button>
          <button data-action="click->home#toggleMeditations" data-home-target="meditationsBtn" class="meditation-btn btn-japan-orange-light"><svg fill="#6c2902"  height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-351 153 256 256" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="-222.3" cy="188.5" r="31.1"></circle> <path d="M-106.6,332.4c-0.4-0.6-0.9-1.1-1.4-1.6l-35.3-32.8l-22.8-49c-6.2-12.5-15.2-20.3-28.6-20.3h-57.5 c-13.5,0-22.4,7.8-28.6,20.3l-22.8,49l-35.3,32.8c-0.5,0.5-1,1.1-1.4,1.6c-3.6,3.1-5.9,7.7-5.9,12.8c0,9.3,7.6,16.9,16.9,16.9 c5.5,0,10.3-2.6,13.4-6.7c0.3-0.2,0.6-0.5,0.8-0.7l37.4-34.8c1.4-1.4,2.5-3,3.3-4.8l11.9-25.5l-0.6,45l-52.2,28.4 c-9.5,5.2-14,16.4-10.6,26.7c3.4,10.3,13.6,16.7,24.3,15.2l78.1-20.2l78.1,20.2c10.7,1.5,21-4.9,24.3-15.2 c3.4-10.3-1.1-21.5-10.6-26.7l-52.2-28.5l-0.6-45l11.9,25.5c0.8,1.8,2,3.4,3.3,4.8l37.4,34.8c0.3,0.3,0.5,0.5,0.8,0.7 c3.1,4,7.9,6.7,13.4,6.7c9.3,0,16.9-7.6,16.9-16.9C-100.7,340-103,335.5-106.6,332.4z"></path> </g></svg>
            <p class="text-feature">Rest</p>
          </button>
        </div>
        <div data-home-target="waterTracker" class="hidden feature-card">
          <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
        </div>
        <div data-home-target="lists" class="hidden feature-card">
          <%= render "lists/lists", lists: @lists, new_list: @new_list, new_list_item: @new_list_item, class: "home-container-list-list-items"%>
        </div>
        <div data-home-target="streaks" class="hidden feature-card">
          <%= render "days/calendar", user: @user %>
        </div>
        <div data-home-target="meditations" class="hidden feature-card">
          <%= render "meditations/meditations" %>
        </div>
      </div>
    </div>
    <div class="pomorodo">
      <%= render 'pomodoros/pomodoro' %>
    </div>
  <% end %>
  <%= audio_tag "timer-over.wav", id: "dingdong-audio" %>
  <%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
  <%= audio_tag "whitenoise_waves.mp3", id: "whitenoise-waves-audio", loop: true %>
  <%= audio_tag "whitenoise_heater.mp3", id: "whitenoise-heater-audio", loop: true %>
  <%= audio_tag "whitenoise_rain.mp3", id: "whitenoise-rain-audio", loop: true %>
  <%= audio_tag "whitenoise_train.mp3", id: "whitenoise-train-audio", loop: true %>
  <%= audio_tag "drink-water.wav", id: "notification-audio" %>
</div>
