<div data-controller="edit-water-tracker">
  <button id="toggle-tracker">
    <i class="fa-solid fa-glass-water-droplet" data-action="click->edit-water-tracker#displayTraker"></i>
  </button>
  <div class='toggle-tracker-card d-none' data-edit-water-tracker-target="tracker">
  <div class="toggle-tracker-infos">
    <h1>Water tracker</h1>
    <div class='water-tracker-card' data-edit-water-tracker="card">
      <div class="water-tracker-infos"<%= 'd-none' if water_tracker.errors.any? %> data-edit-water-tracker-target="infos">
        <div>Your target is <%= water_tracker.goal_amount %>ml</div>
        <div>You will drink in frequencies of <%= water_tracker.frequency%> minutes</div>
        <div>You increment amount is<%=water_tracker.increment_amount%></div>
        <div>So far u have consumed <%= water_tracker.current_amount %>ml</div>
        <div class="water-tracker-buttons d-flex">
        <button aria-label="Edit tracker">
          <i class="fa-solid fa-pen ml-2" data-action="click->edit-water-tracker#displayForm"></i>
        </button>
        <%= link_to 'drink', take_glass_of_water_water_tracker_path(water_tracker), method: :patch, class: 'btn btn-primary' %>
      </div>
    </div>
    <%= simple_form_for water_tracker,
    html: {
      class: water_tracker.errors.any? ? "" : "d-none",
      data: {
        edit_water_tracker_target: "form",
        action: "submit->edit-water-tracker#update" }
    } do |f| %>
      <%= f.input :goal_amount %>
      <%= f.input :frequency %>
      <%= f.input :increment_amount %>
      <%= f.submit 'submit'  %>
    <% end %>
  </div>
  </div>
</div>
