<div data-controller="edit-water-tracker add-glass-water-tracker" data-edit-water-tracker-target="card" data-add-glass-water-tracker-target="card" class="water">
  <div class='toggle-tracker-card d-flex justify-content-center' data-edit-water-tracker-target="tracker">


    <div class="toggle-tracker-infos w-100">


    <span class="notification-target d-none"  data-edit-water-tracker-target="notification"><%= @water_tracker.notification %></span>
      <div class='water-tracker-card'>
        <div class="water-tracker-infos" data-edit-water-tracker-target="infos">
          <div class="hiddenText d-none">
            <%= @water_tracker.status %>
            <div>You will drink in frequencies of <span  data-edit-water-tracker-target="frequency"><%= @water_tracker.frequency %></span> minutes</div>
            <div>Your increment amount is <%= @water_tracker.increment_amount %></div>
          </div>

          <div class="tracker-display p-2 my-1">
            <div class="row">
            <div class="tracker-info-display my-1 col-9">
              <div class="text-display container">
                <div >Your target = <span  data-edit-water-tracker-target="goalAmount"><%= @water_tracker.goal_amount %></span>ml</div>
                <div>So far you have consumed <span  data-edit-water-tracker-target="currentAmount"><%= @water_tracker.current_amount %></span>ml</div>
                <div class="edit d-flex justify-content-end">
                  <button aria-label="Edit tracker">
                    <i class="fa-solid fa-pen fa-lg ml-3" data-action="click->edit-water-tracker#displayForm"></i>
                  </button>
                </div>
              </div>

              <div>
                <% if water_tracker.current_amount >= water_tracker.goal_amount %>
                  <%= render "shared/flashes", notice: "You have reached your water goal for the day! Increase your goal if you want to keep going!" %>
                <% else %>
                  <%= simple_form_for water_tracker,
                    html: {
                      data: {
                        add_glass_water_tracker_target: "form",
                        action: "submit->add-glass-water-tracker#take_glass_of_water"
                      }
                    } do |f| %>
                      <%= f.submit 'Finished a glass', class: 'btn btn-tracker' %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <% percent = (@water_tracker.current_amount.to_f / @water_tracker.goal_amount * 100).round %>
            <div class="col-3">
            <div class="water-tank" data-edit-water-tracker-target="tank">
              <div class="water-fill" data-edit-water-tracker-target="fill" data-percent="<%= percent %>"
              style="height: <%= percent %>%"></div>
            </div>

            </div>
          </div>
          </div>
        </div>
      </div>
        <div class="container">
          <%= simple_form_for water_tracker,          html: {
              class: water_tracker.errors.any? ? "" : "d-none",
              data: {
                edit_water_tracker_target: "form",
                action: "submit->edit-water-tracker#update"
              }
            } do |f| %>

            <%= f.input :goal_amount %>
            <%= f.input :frequency %>
            <%= f.input :notification %>
            <%= f.input :increment_amount %>
            <%= f.submit 'submit'%>

          <% end %>
        </div>
    </div>
  </div>
</div>
