<div class="container-challenges" data-controller="challenge" data-challenge-target="container">
<ul>
<% current_user.created_challenges.each do |challenge| %>
<li class="list-item-challenge"><%= challenge.category %>: <%= challenge.goal %> : <%= challenge.stakes %> : <%= challenge.participants.first.username %></li>
<% end %>
</ul>

<div class="div-challenge-form" data-challenge-target="formContainer">
  <div class="d-flex">
  <div class="m-3">
    <% challenge = Challenge.new %>
    <% challenge.challenge_participants.build %>
    <%= simple_form_for challenge,  html: { data: { challenge_target: "form", action: "submit->challenge#create" } } do |f| %>
      <div class="field">
        <%= f.select :category, ["Water", "Meditation", "Stretch", "Pomodoros"]  %>
      </div>
      <div class="field">
        <%= f.input :stakes, label: "What are the stakes?" %>
      </div>
      <div class="field">
        <%= f.input :goal, label: "What is the goal amount? (ml/times/pomodoros)", as: :integer %>
      </div>
      <div class="field">
        <%= f.input :duration, label: "Challenge Duration", as: :integer %>
      </div>
      </div>
      <div class="m-3">
      <h3>Participants</h3>
      <div id="participants">
        <%= f.simple_fields_for :challenge_participants do |cp_form| %>
          <div class="nested-fields">
            <div class="field">
              <%= cp_form.label :user_id, "Participant" %>
              <%= cp_form.select :user_id, User.all.map { |user| [user.username, user.id] }, { include_blank: "Select User" }, class: "form-control" %>
              <%= link_to_remove_association "Remove", cp_form, class: "btn btn-yellow" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to_add_association "Add Participant", f, :challenge_participants, class: "btn btn-yellow", data: { association_insertion_node: '#participants', association_insertion_method: 'append' } %>
      <%= f.submit "Create Challenge", class: "btn btn-yellow" %>
    <% end %>
    </div>
  </div>
</div>


<section class="challenge-modal hidden" data-challenge-target="modal">
    <div class="flex">
      <div class="btn btn-close" data-action="click->challenge#closeModal"></div>
      <div class="p-3">
        <%= render partial: "challenges/challenges" %>
      </div>
    </div>
  </section>

  <button class="btn btn-open btn-main" data-action="challenge#openModal">Start a Challenge!</button>
</div>
