<div data-controller="challenge">
  <div data-challenge-target="container">
    <%= simple_form_for challenge,  html: { data: { challenge_target: "form", action: "submit->challenge#create" } } do |f| %>
      <div class="field">
        <%= f.input :category, label: "Category" %>
      </div>
      <div class="field">
        <%= f.input :stakes, label: "Stakes" %>
      </div>
      <div class="field">
        <%= f.input :goal, label: "Goal" %>
      </div>
      <div class="field">
        <%= f.input :duration, label: "Duration", as: :integer %>
      </div>
      <div class="field">
        <%= f.input :start_date, label: "Start Date", as: :date %>
      </div>
      <div class="field">
        <%= f.input :status, label: "Status" %>
      </div>
      <h3>Participants</h3>
      <div id="participants">
        <%= f.simple_fields_for :challenge_participants do |cp_form| %>
          <div class="nested-fields">
            <div class="field">
              <%= cp_form.label :user_id, "Participant" %>
              <%= cp_form.select :user_id, User.all.map { |user| [user.username, user.id] }, { include_blank: "Select User" }, class: "form-control" %>
              <%= link_to_remove_association "Remove", cp_form, class: "btn btn-yellow" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to_add_association "Add Participant", f, :challenge_participants, class: "btn btn-yellow", data: { association_insertion_node: '#participants', association_insertion_method: 'append' } %>
      <%= f.submit "Create Challenge", class: "btn btn-yellow" %>
    <% end %>
  </div>
</div>
